.ChampContainer {
    margin-right: 2%;
}

.ChampContainer h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 0 0
}

.ChampContainer img {
    width: 138px;
    height: auto;
    border-radius: 5%;
}