.ChampContainer {
    margin-right: 2%;
}

.ChampContainer h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 0 0
}

.ChampContainer img {
    width: 138px;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 16%)
}

@media screen and (max-width: 1050px) {
    .ChampContainer {
        height: auto;
        margin-right: 0;
    }

    .ChampContainer img {
        width: auto;
    }

    .ChampContainer h3 {
        font-size: 1.25rem;
    }
}