.itemsHisto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.itemsHisto .noItem {
    width: 65px;
    height: 65px;
    opacity: 0.3;
    border-radius: 10%;
    background: #A0C5E8;
    display: inline-block;
}

.itemsHisto .noItem, .itemsHisto img {
    margin-right: 10px;
}

.itemsHisto img:nth-last-child(1) {
    margin-right: 0;
}