.profilData {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
}

.profileIconContainer {
    width: 300px;
    height: 300px;

    margin-right: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgIcon {
    border-radius: 50%;
    width: 165px;
    position: absolute;
}

.imgBorder {
    width: 300px;
    z-index: 1;
}

.lvlBorder {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    z-index: 2;
    margin-bottom: 0;
    margin-top: 90px;
}

.profileHeader {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profileHeader h1 {
    font-size: 3rem;
}