.homePage {
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: #fefefe;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.searchbar {
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar button {
    margin-left: 25px;
}

.MuiFormControl-marginNormal {
    margin: 0;
}